<h2>{{titulo}}</h2>
<p>{{listado}}</p>
<button (click)="cambiarTitulo()">Cambiar titulo</button>
    <ul>
    <li *ngFor="let x of videojuegos">{{x.nombre}} - <strong>{{x.precio}}</strong>
    <p>{{x.consola}}</p>
    <p>{{x.tipo}}</p>
    </li>
    
    </ul>