<h1>Componente Pokemón</h1>
<h4 *ngIf="pokemonNombre">Mi pokemón favorito es: {{pokemonNombre}}</h4>
<h4 *ngIf="pokemonTipo">Tu Pokemón es de tipo: {{pokemonTipo}}</h4>

<button (click)="redirigir()" >Ir a  autos</button>