<div [ngStyle] = "{
  'background':config.fondo,
  'padding': '20px',
  'border': '5px solid black',
  'border-color': config.color
}">

  <h1>Bienvenido al {{title}}</h1>
  <p>{{descripcion}}  </p>

  <nav>
    <a [routerLink] = "['/home']" [routerLinkActive] = "['navigation']" >HOME</a>
    &nbsp;
    <a [routerLink] = "['/motos']" [routerLinkActive] = "['navigation']">MOTOS</a>
    &nbsp;
    <a [routerLink] = "['/pokemon']" [routerLinkActive] = "['navigation']">POKEMON</a>
    &nbsp;
    <a [routerLink] = "['/videojuegos']" [routerLinkActive] = "['navigation']">VIDEOJUEGOS</a>
    &nbsp;
    <a [routerLink] = "['/autos']" [routerLinkActive] = "['navigation']">AUTOS</a>
    &nbsp;
    <a [routerLink] = "['/zapatos']" [routerLinkActive] = "['navigation']">ZAPATOS</a>
    &nbsp;
    <a [routerLink] = "['/externo']" [routerLinkActive] = "['navigation']" >EXTERNO</a>
    &nbsp;
    <a [routerLink] = "['/garrafones']" [routerLinkActive] = "['navigation']" >GARRAFONES</a>

  </nav>
  <hr>
 <!-- <button (click)="ocultarVideojuegos(false)" *ngIf = mostrar_videojuegos>Ocultar Videojuegos</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf = !mostrar_videojuegos>Mostrar Videojuegos</button>
<p>
  <button (click) = ocultarAutos(false) *ngIf = mostrar_autos>Ocultar Autos</button>
  <button (click) = ocultarAutos(true) *ngIf = !mostrar_autos>Mostrar Autos</button>
  
</p>
  <videojuego *ngIf = "mostrar_videojuegos" ></videojuego>
 
  <autos *ngIf = "mostrar_autos" ></autos>
   <zapatos></zapatos>
  <motos></motos>
-->
<router-outlet></router-outlet>
</div>


 