<p>garrafones works!</p>

<form #formCliente = "ngForm" (ngSubmit)="onSubmit(formCliente)">
<br>
<label for="nombre">Nombre y apellidos</label>
<br>
<input type="text" name="nombre" #nombre = "ngModel" [(ngModel)]="cliente.nombre" required pattern="[a-zA-Z]+">
<span *ngIf="nombre.touched && !nombre.valid">Ingrese su nombre!</span>
<br>
<label for="telefono">Teléfono Mobil</label>
<br>
<input type="tel" name="telefono" #telefono = "ngModel" [(ngModel)]="cliente.telefono" required pattern="[0-9]+">
<span *ngIf="telefono.touched && !telefono.valid">Ingrese su telefono!</span>
<br>
<label for="colonia">Colonia</label>
<br>
<input type="text" name="colonia" #colonia = "ngModel" [(ngModel)]="cliente.colonia" required pattern="[a-zA-Z0-9]+">
<span *ngIf="colonia.touched && !colonia.valid">Ingrese su colonia!</span>
<br>
<label for="calle_numero">Calle & Número</label>
<br>
<input type="text" name="calle_numero" #calle_numero = "ngModel"  [(ngModel)] = "cliente.calle_numero"   required pattern="[a-zA-Z0-9]+">
<span *ngIf="calle_numero.touched && !calle_numero.valid">Ingrese su calle y número!</span>
<br>
<label for="referencias">Referencias del domicilio</label>
<br>
<textarea type="text" name="referencias" #referencias = "ngModel" [(ngModel)] = "cliente.referencias" required pattern="[a-zA-Z0-9]+"></textarea>
<span *ngIf="referencias.touched && !referencias.valid">Ingrese sus referencias!</span>
<br>
<input type="submit" value="Enviar" [disabled] = "!formCliente.form.valid">

</form>