<p>{{fecha | date:'dd/MM/yy'}}</p>
<p>{{'USO DE PIPES' | lowercase}}</p>
<p>{{10 | calculadora : 2}}</p>
<div *ngIf ="user==false">
    Cargando...
</div>
<input type="text"  [(ngModel)]="userId"  (keyup.enter)="cargarUsuario()">
<p></p>

<div *ngIf="user">
   
    <img src="{{user.avatar}}" width = "100px">
<h2>{{user.first_name +' '+ user.last_name}}</h2>
<h2>{{user.email}}</h2>
</div>
