<h2>Listado de Marcas de Autos</h2>
<p>{{titulo}}</p>
<p>
    <span>MARCAS...</span>
</p>
<p>Añadir marca</p>


    <input type="text" [(ngModel)]="miMarca" (keyup.enter) = "addMarca()" >
  
    <button (click)=getMarca()>Mostrar marca</button>
    <button (click)=addMarca()>Añadir marca</button>
    <button (click)=clearMarca()>Lipiar lista de marcas</button>


<p>
    {{miMarca}}
</p>
    <ul *ngFor="let x of marcas; let indice = index">
    <li>
        <span [ngStyle]="{
          'font-family': 'cursive'
        }">
        {{x}}
    
    </span>
    <button (click)=deleteMarca(indice)>Borrar</button>
    </li>
   
    </ul>



<span>---------------------</span>



<ul *ngFor = "let x of autos">
<li>
    <span [ngStyle]="{
        'text-decoration': !x.stock ? 'line-through':'none'
    }">
    {{x.nombre}} - <strong [class.altoPrecio]="x.precio >= 300" >{{x.precio}}</strong>

</span>

</li>
<p>{{x.marca}} - <strong [ngClass] = "{
    'fondoNegro': x.nombre == 'Camaro',
    'subrayado': x.precio == 200
    }">{{x.pais}}</strong></p>


<span *ngIf = "x.precio <= 350" 
    [style.background] = "x.precio == 200? 'red':'blue'"
    [style.color] = "x.precio == 200? 'white': 'black'">EN OFERTA</span>



</ul>

<p>
El color de la malloría de los autos es: 
</p>
<p>
    <input type="text" [(ngModel)]= "color">
</p>
<ul [ngSwitch] = "color">
<li *ngSwitchCase = "'red'">
El color predominante es el <span [ngStyle]= "{'background': color}">Rojo</span>.
</li>
<li *ngSwitchCase = "'yellow'">
    El color predominante es el <span [ngStyle]= "{'background': color}">Amarillo</span>.
    </li>
    <li *ngSwitchCase = "'green'">
        El color predominante es el <span [ngStyle]= "{'background': color}">Verde</span>.
        </li>
</ul>

