.altoPrecio{
    color: goldenrod;
    font-size: 20px;
    background-color:sienna;
}

.fondoNegro{
    background-color: black;
    color: white;
}
.subrayado{
    text-decoration: underline;
}

.formatoImagen{
    border-radius: 8px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.navigation{
    cursor: pointer;
    border: 3px solid yellow;
}