<h2>Pagina principal</h2>

<div *ngIf = "identificado then autenticado; else noIdentificado">
</div>

<ng-template #autenticado> 
    <h3>Estas Identificado en la aplicacion</h3>
    <button (click)="setIdentificado(false)">Desidentificar</button>
</ng-template>
<ng-template #noIdentificado>
    <p>No estas identificado, pulsa para identificarte</p>
    <button (click)="setIdentificado(true)">identificarse</button>
</ng-template>